<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <form action="" method="post" class="form-example">
    <input type="submit" name="select_all" value="Выбрать все">
  </form>
  <form action="" method="post" class="form-example">
    {% for i in range(elements|length) %}
    <div>
      <div>{{ elements[i][1] }}</div>
      <div>{{ elements[i][0] }}</div>
      <input type="checkbox" name="{{ i }}_name" value="{{ elements[i][0] }}">
    </div>
    {% endfor %}
    <input type="submit" name="download" value="Скачать">
  </form>
</body>
</html>